// --------------------------------------------------------------------------------
// BASE - VARIABLES 
// --------------------------------------------------------------------------------
$color-blue-default:						#3a79a7;
$color-blue-lighter1: 						#4897d0;
$color-blue-lighter2: 						#b7d3e7;

$color-white-default:						#fff;
$color-white-darker: 						#f4f4f4;

$color-gray-default: 						#333333;
$color-gray-lighter2:						#e6e6e6;
$color-gray-lighter1: 						#bcbcbc;

$color-orange-default:						#d19d30;

$font-family-default: 						'Roboto', sans-serif;


$font-weight-thin:							100;
$font-weight-light:							300;
$font-weight-normal:						400;
$font-weight-medium:						500;
$font-weight-bold:							700;
$font-weight-ultra-bold:					900;