// --------------------------------------------------------------------------------
// MODULES - BUTTONS
// --------------------------------------------------------------------------------
.m-btn 										{ 
												width:120px; padding:12px 10px; text-align:center; font-size:0.875em; font-weight:normal; cursor:pointer;
												box-shadow:rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
}
.m-btn-positive 							{ background:$color-blue-lighter1; color:$color-white-default; }
.m-btn-negative 							{ background:$color-orange-default; color:$color-white-default; }
.m-btn-nuetral 								{ background:none; border:0; box-shadow:none; }
.m-btn-nuetral-header 						{ background:$color-white-darker; }